<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icinfo.platform.application.dao.ApplicationDao">
    <resultMap id="BaseResultMap" type="com.icinfo.platform.application.model.Application"
    extends="com.icinfo.platform.application.mapper.ApplicationMapper.BaseResultMap">
    </resultMap>

    <select id="selectList" resultMap="BaseResultMap">
      SELECT * FROM application
    </select>

</mapper>