<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 开启controller注解支持-->
    <context:component-scan base-package="com.icinfo.platform.*.controller, com.icinfo.platform.wechat.*.controller, com.icinfo.platform.common.advice" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <!-- 当在web.xml 中 DispatcherServlet使用 <url-pattern>/</url-pattern> 映射时，能映射静态资源 -->
    <mvc:default-servlet-handler/>

    <!-- 视图处理 -->
    <mvc:view-controller path="/" view-name="redirect:/"/>

    <!-- 静态资源映射  css、images、js缓存15天 plugins缓存30天 -->
    <mvc:resources mapping="/css/**" location="/WEB-INF/views/css/" cache-period="0"/>
    <mvc:resources mapping="/js/lib/**" location="/WEB-INF/views/js/lib/" cache-period="0"/>
    <mvc:resources mapping="/js/**" location="/WEB-INF/views/js/" cache-period="0"/>
    <mvc:resources mapping="/img/**" location="/WEB-INF/views/img/" cache-period="0"/>

    <!-- jackson2对象映射-->
    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper">
        <property name="serializationInclusion">
            <value type="com.fasterxml.jackson.annotation.JsonInclude.Include">ALWAYS</value>
        </property>
    </bean>

    <!-- 配置消息转换服务 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <!-- JSON消息格式器 -->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                        <value>text/plain;charset=UTF-8</value>
                    </list>
                </property>
                <property name="objectMapper" ref="objectMapper"/>
                <property name="prettyPrint" value="true"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 根据路径后缀选择不同视图 -->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="contentNegotiationManager">
            <bean class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
                <property name="mediaTypes">
                    <map>
                        <entry key="json" value="application/json"/>
                        <entry key="xml" value="application/xml"/>
                        <entry key="html" value="text/html"/>
                    </map>
                </property>
                <property name="defaultContentType" value="text/html"/>
                <!-- 忽略Accept Header-->
                <property name="ignoreAcceptHeader" value="true"/>
                <!-- 关闭 ?format=json的支持 -->
                <property name="favorParameter" value="false"/>
                <!-- 开启扩展名支持 -->
                <property name="favorPathExtension" value="true"/>
            </bean>
        </property>
        <property name="viewResolvers">
            <list>
                <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="viewClass"
                              value="org.springframework.web.servlet.view.JstlView"/>
                    <property name="contentType" value="text/html"/>
                    <property name="prefix" value="/WEB-INF/views/page/"/>
                    <property name="suffix" value=".jsp"/>
                </bean>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
                    <property name="objectMapper" ref="objectMapper"/>
                    <property name="prettyPrint" value="true"/>
                </bean>
                <bean class="org.springframework.web.servlet.view.xml.MappingJackson2XmlView"/>
            </list>
        </property>
    </bean>

    <!-- Hibernate Validator配置-->
    <!--<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">-->
        <!--<property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>-->
        <!--<property name="validationMessageSource" ref="validationMessageSource"/>-->
    <!--</bean>-->

    <!--<bean id="validationMessageSource"-->
          <!--class="org.springframework.context.support.ReloadableResourceBundleMessageSource">-->
        <!--<property name="basenames">-->
            <!--<list>-->
                <!--<value>classpath:validator-messages</value>-->
                <!--<value>classpath:org/hibernate/validator/ValidationMessages</value>-->
            <!--</list>-->
        <!--</property>-->
        <!--<property name="useCodeAsDefaultMessage" value="false"/>-->
        <!--<property name="defaultEncoding" value="UTF-8"/>-->
        <!--<property name="cacheSeconds" value="60"/>-->
    <!--</bean>-->

    <!--文件上传配置-->
    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
    <!--<property name="defaultEncoding" value="utf-8"/>-->
    <!--<property name="maxInMemorySize" value="10240"/>-->
    <!--&lt;!&ndash;最大文件大小, 单位字节, -1为不限制大小, 默认5M&ndash;&gt;-->
    <!--<property name="maxUploadSize" value="5242880"/>-->
    <!--&lt;!&ndash;文件延迟解析&ndash;&gt;-->
    <!--<property name="resolveLazily" value="false"/>-->
    <!--</bean>-->

    <!--添加拦截器-->
    <!--<mvc:interceptors>-->
    <!--<mvc:interceptor>-->
    <!--<mvc:mapping path="/admin/**"/>-->
    <!--<bean class="com.icinfo.platform.common.interceptor.UserAuthorityInterceptor"></bean>-->
    <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->

    <!-- 开启cglib代理切面 -->
    <!-- 由于 controller 与 其他不在同一上下文，针对controller层上的自定义注解，必须在此配置，使得注解跟controller在同一上下文才能生效 -->
    <!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->
</beans>