<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icinfo.platform.business.dao.BaseInfoAreaDao" >
    <resultMap id="BaseResultMap" type="com.icinfo.platform.business.model.BaseInfoArea"
    extends="com.icinfo.platform.business.mapper.BaseInfoAreaMapper.BaseResultMap">
    </resultMap>

    <!--查询所有地域-->
    <select id="selectList" resultMap="BaseResultMap">
        select * from base_info_area;
    </select>

    <!---->
    <select id="selectCodeList" parameterType="java.util.List" resultType="java.lang.String">
        SELECT IA_CODE FROM  base_info_area
        WHERE IA_PARENT_CODE in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
          #{item}
        </foreach>
    </select>
</mapper>