<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icinfo.platform.business.dao.BaseInfoAreaDao" >
    <!--
            开启二级缓存.
            eviction: 回收策略.
            flushInterval: 刷新间隔, 单位毫秒.
            size: 引用数目.
            readOnly: 只读.
        -->
    <!--<cache type="com.icinfo.platform.cache.MybatisRedisCache"-->
           <!--eviction="LRU"-->
           <!--flushInterval="1800000"-->
           <!--size="1024"-->
           <!--readOnly="true"/>-->

    <resultMap id="BaseResultMap" type="com.icinfo.platform.business.model.BaseInfoArea"
    extends="com.icinfo.platform.business.mapper.BaseInfoAreaMapper.BaseResultMap">
    </resultMap>

    <!--查询所有地域-->
    <select id="selectList" resultMap="BaseResultMap">
        select * from base_info_area;
    </select>

    <!---->
    <select id="selectCodeList" parameterType="java.util.List" resultType="java.lang.String">
        SELECT IA_CODE FROM  base_info_area
        WHERE IA_PARENT_CODE in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
          #{item}
        </foreach>
    </select>
</mapper>